.show-search-img-result {
    width: 100%;
    height: 100%;
}

/* 이미지 띄우기 */

.img-section img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

#container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: black;
    overflow: hidden;
}

img#croppedImage {
    width: 50%;
    height: auto;
    margin-top: 600px;
}


/* 크롭 영역 */


#rectangle {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);
    z-index: 10;
}

.handle {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

#top-left { top: 0; left: 0; }
#top-right { top: 0; right: 0; }
#bottom-left { bottom: 0; left: 0; }
#bottom-right { bottom: 0; right: 0; }

#top-left {
	left: -2px;
	top: -2px;
	border-top: 6px solid white;
	border-left: 6px solid white;
}

#top-right {
	right: -2px;
	top: -2px;
	border-top: 6px solid white;
	border-right: 6px solid white;
}

#bottom-left {
	left: -2px;
	bottom: -2px;
	border-bottom: 6px solid white;
	border-left: 6px solid white;
}

#bottom-right {
	right: -2px;
	bottom: -2px;
	border-bottom: 6px solid white;
	border-right: 6px solid white;
}


img#croppedImage {
    width: 50%;
    height: auto;
    margin-top: 600px;
    display: none;
}


/* 모달 */
.hidden {
    bottom: -40%;
}

.shown {
    bottom: 0;
}

#bottomSheet {
    position: fixed;
    bottom: 20%;
    height: 60%;
    width: 100%;
    max-width: 760px;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    z-index: 1001;
    transition: all 0.3s ease-in-out;
    transition-property: background-color, border-top;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 0px 5px 0px gray;
}

.handlebar {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.handlebar-icon {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--grey2);
    border-radius: 2px;
}



/* 검색 결과 */
.img-search-value {
    width: 100%;
}

.search-value-title {
    font-weight: 500;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}


ul.img-search-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

li.search-result-li {
    display: flex;
    flex-direction: column;
}

.img-wrapper {
    width: 100%;
    aspect-ratio: 3 / 4;
}

img.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    box-shadow: 0px 5px 5px grey;
}

.product-div {
    width: 100%;
    margin-top: 0.5rem;
}


p.product-brand {
    font-weight: bold;
}

.product-name {
   width: 230px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

@media (max-width: 750px) {
    .product-name {
       width: 100px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
    }
}

p.product-price {
    font-weight: bold;
}