.content-wrapper {
	width: 100%;
}
.login-btn-wrapper {
	display: flex;
	flex-direction: row;
	justify-content:center;
	margin-bottom:0.5rem
}
.logo-wrapper{
	display:flex;
	flex-direction:row;
	margin-left:1.3rem;
	margin-top:1rem;
}
.instruct-text-wrapper{
	display:flex;
	justify-content: left;
	text-align: initial;
	margin-top: 3rem;
	/* margin-bottom: 2rem; */
	margin-left: 1.6rem;
}
.login-text-wrapper{
	display:flex;
	justify-content:center;
	text-align:center;
	color: var(--grey5);
	margin-bottom:1rem;
}
.img-login-btn {
	height : 4rem;
}
.img-logo{
	height : 2rem;
}
.txt-instruct{
	font-size:1.7rem;
	font-family: 'Inter';
	font-weight:bold;
}
.txt-login{
	font-size:0.85rem;
}
.intro-gif {
	margin: 0.5rem 0;
	overflow: hidden;
	text-align: center;
}
.intro-gif img {
	width: 50%;
	aspect-ratio: 1/1.5;
	margin: auto;
	display: block;
	object-fit: cover;
	overflow: hidden;
}