.image-view img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.write-container, .search-container, .post-container {
    display: none;
}

.image-view li {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.pre-container, .write-container, .search-container {
    height: 100vh;
    width: 100vh;
    margin: 0px auto;
    min-width: 40vh;
}


.search-product-li {
    display: flex;
    border: 2px solid var(--grey1);
    border-radius: 10px;
    margin-bottom: 6px;
}

.search-product-img {
    flex: 1;
    max-width: 100px;
    margin-right: 20px;
}

.search-product-brand,
.search-product-name,
.search-product-price,
.search-product-size {
    flex: 1;
    margin: 5px;
}

p.search-value {
    font-size: 40px;
    font-weight: bold;
}

p.search-value-fixed {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

p.search-product-brand {
    font-weight: bold;
    font-size: 18px;
}

p.search-product-name {
    color: var(--grey5);
    font-size: 15px;
}

.search-product-div {
    margin: 2px;
}

.pre-container .header p, .post-container .header p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.pre-container .body p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: var(--grey6);
    font-size: 12px;
    line-height: 20px;
}

.write-container p {
    font-weight: bold;
    font-size: 16px;
}

#img-load-button {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    width: 90%;
    max-width: 760px;
    flex-direction: column;
    text-align: center;
}

#next-button {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    width: 90%;
    max-width: 760px;
    flex-direction: column;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 65%;
    background: url(.png);
    border-radius: 24px;
    margin-top: 80px;
    margin-bottom: 30px;
    	filter: drop-shadow(0px 58px 23px rgba(0, 0, 0, 0.01))
    	drop-shadow(0px 33px 20px rgba(0, 0, 0, 0.05))
    	drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.09))
    	drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1))
    	drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
    width: auto;
    height: 2rem;
	border: 1px solid var(--grey4);
    border-radius: 0.7rem;
	padding:0.1rem 1.3rem;
    cursor: pointer;
	line-height:2rem;
	margin-right:0.1rem;
	margin-top:1rem;
    font-family:Spoqa Han Sans;
	letter-spacing:0.05rem;
	text-align:center;
	color:var(--grey4);
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
	color:var(--jw-blue);
    border: 1px solid var(--jw-blue);
}

.style-button-group, .tpo-button-group, .season-button-group, .content-group {
    padding: 20px;
}

.style-button-group div, .tpo-button-group div, .season-button-group div {
    margin-right: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-group textarea {
    width: 100%;  /* 너비를 부모 요소에 맞춤 */
    min-height: 100px;  /* 최소 높이 설정 */
    resize: vertical;  /* 세로로만 크기 조절 가능하게 설정 */
    overflow: auto;  /* 내용이 넘칠 경우 스크롤 표시 */
}

.form-group {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    width: 90%;
    max-width: 760px;
    flex-direction: column;
}

.search-box {
    position: relative;
    width: 100%;
    height: 35px;
    margin: 20px auto;
    border-radius: 20px;
}

.search-text {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    outline: none;
    background: var(--grey1);
    border-radius: 20px;
    padding-right: 40px;
    padding-left: 20px;
}

.search-icon {
    margin-right: 10px; /* 필요에 따라 조정 */
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searching {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.searching img {
    width: 20px;
}

.search-body {
    padding: 20px;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 9px;
    margin: auto;
    padding: 20px;
    background: white;
    width: 50%;
    position: relative;
    width: 318px;
    height: 179px;
    left: 0;
    top: 35vh;
}

.modal-content p {
    font-weight: bold;
    font-size: 16px;
}

.product-search-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
}

.modal-wrap {
    display: flex;
    justify-content: space-around;
}

.color-wrap, .size-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.close-button {
    cursor: pointer;
}

/* 상품, 사이즈 선택 모달 css */
.select-product-size, .select-product-color {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	width: 100%;
	height: 4.8rem;
	font-size: 1.1rem;
	font-weight: 400;
	scroll-snap-type: y mandatory;
}

.select-product-size li, .select-product-color li {
	scroll-snap-align: start;
	height: 1.6rem;
}

ul {
	list-style: none;
}



/* 추가 이미지 */
.add-img-container {
    display: flex;
    list-style-type: none;
    overflow-x: auto;
}

.add-img-container li {
    flex: 0 0 auto;
    width: 25%;
}

.add-img-container img {
    max-width: 100%;
    height: auto;
}

#thumbnail-img {
    position: relative;
    overflow: hidden;
}

.tag-container, .content-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #666666;
    display: flex;
    justify-content: center;
}

.tag-list p {
    font-weight: bold;
}

.content-text {
    color: #000000;
}

.post-container .header {
    margin-top: 30%;
}

body{
	display:flex;
}
