
#main-wrapper {
    margin : 0 auto;
}

#main-wrapper-top{
    margin-bottom : 30px;
}

@media screen and (max-width: 700px) {
    #main-wrapper-top{
        margin-bottom : 20px;
    }
}

/* main-wrapper 안에 있는 photo 클래스에 스타일 적용 */
#photo-gallery {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

@media screen and (max-width: 700px) {
#photo-gallery {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}
}

.photo {
    box-sizing: border-box;
}

.photo img{
   max-width: 100%;
    min-width: 100%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 0.84/1;
    object-fit: cover;
    object-position: center;
}

#hyunique-main-top-recommend {
   display: flex;
   margin-left: 22px;
   font-size: 18px;
   font-weight: bold;
   color : #BBBBBB;
}

#hyunique-main-top-recommend .button {
  cursor: pointer;
    margin-right: 15px;
    text-decoration: none;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 3.5px solid transparent; /* 밑줄 추가 */
    color: #BBBBBB;
    transition: border-color 0.3s ease; /* 밑줄 변화에 트랜지션 효과 추가 */
}

#hyunique-main-top-recommend .button.selected {
  border-color: black; /* 선택된 버튼에만 밑줄 색상을 변경 */
  color: black;
}

#filterModalButton {
    font-size: 18px;
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    padding: 15px;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 8px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 700px) {
     #filterModalButton {
        font-size: 12px;
	    border: 1px solid #E9E9E9;
	    border-radius: 10px;
	    padding: 3px 10px;
	    background-color: transparent;
	    cursor: pointer;
	    white-space: nowrap;
	    margin-right: 6px;
     }
}

#filterModalButton >img{
    display: flex;
    align-items: center;
    height: 22px;
}

@media screen and (max-width: 700px) {
    #filterModalButton >img {
        display: flex;
        align-items: center;
        height: 18px;
    }
}


.filter-img-div{
   padding: 10px 10px !important;
}

@media screen and (max-width: 700px) {
.filter-img-div{
   padding: 5px 5px !important;
}
}

#filterModalButton >div{
    height: 32px;
}

#filterModalButton > div#textLine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 부모 요소의 높이에 맞게 설정 */
    font-size: 1rem;
}

#hyunique-main-top-filter{
    display: flex;
    color: #A5A5A5;
    white-space: nowrap;
    overflow : hidden;
    overflow-x: auto;
    padding: 15px;
    height: 32px;
}
#qr-button {
    width: 78px;
    height: 78px;
    position: fixed;
    bottom: 90px;
    right: 30px;
}

#qr-img{
    width: 78px;
    height: 78px;
}

#popular-style {
    display: flex;
    font-size: 2rem;
    height: 60px;
    font-weight: bold;
    align-items: flex-start;
    flex-direction: column;
    text-indent: 1.6rem;
    margin-bottom: 11%;
    margin-top: 1rem;
    font-family: 'Tossface'
}

#bottom-for-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
    padding: 40px 0px;
}

#bottom-for-logo-img{
    display: flex;
    justify-content: center;
}

#bottom-for-logo-img >img{
width: 30%;
    height: auto;
}


#bottom-login-message {
    text-align: center;
    font-weight: 500;
    color: gray;
}

#login-block {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 2rem;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: var(--border-radius-8,8px);
    background: linear-gradient(135deg, rgb(103, 140, 2196) 0.04%, rgb(4, 41, 98) 72.91%) 0% 0% / 200%;
    animation: 2s ease 0s infinite alternate none running kcinZC;
}

div#banner img {
    width: 100%;
    scroll-snap-align: start;
}

div#banner {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    cursor: pointer;
}
#ranking-wrapper{
	display:flex;
	flex-direction: column;
	justify-content : center;
}
.ranking-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

img.ranking-user-img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: center;
    border-radius: 100rem;
}

.ranking-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#rank-2nd {
    margin-top: 5rem;
}

div#rank-3rd {
    margin-top: 5rem;
}

img#rank-3rd {
    width: 8rem;
    height: 8rem;
}

img#rank-2nd {
    width: 8rem;
    height: 8rem;
}

.user-nickname {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}

.ranking-number {
    border: 1px solid;
    border-radius: 100rem;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    line-height: 2.2rem;
}

.ranking-wrapper {
    margin-bottom: -2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

div#\31 st-number {
    background: rgb(255 133 111);
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    border: none;
}

div#\32 nd-number {
    background: rgb(151 228 238);
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
}

div#\33 rd-number {
    background: rgb(25 140 253);
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
}

img#rank-1st-img {
    width: 8rem;
    height: 8rem;
}
.ranking-description {
   font-family: 'Tossface';
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}
.category-description {
    margin-left: 2rem;
    font-size: 0.8rem;
    color: gray;
    margin-top: 0.5rem;
}
div#ranking-wrapper {
    background: #f0f0f0;
    padding-bottom: 1rem;
}
.recommend-description {
	display:flex;
	flex-direction:row;
	width:100%;
}
p.txt-rec-des {
     font-size: 1.4rem;
    font-family: 'Tossface';
    font-weight: bold;
    margin-bottom: 1rem;
    color: #26354b;
}
lord-icon.lord-star {
    margin-left: 1rem;
}

div#up-button {
	display: none;
    position: fixed;
    bottom: 180px;
    right: 40px;
    filter: drop-shadow(0px 58px 23px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 33px 20px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.09))
    drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

p#txt-ranking-des {
    font-size: 2rem;
}

p.txt-rec-des-sub {
    font-size: 0.9rem;
    font-weight: 500;
    color: gray;
    margin-left: 1.6rem;
    margin-top: -1rem;
}
lord-icon#rank-icon {
    margin-left: 0.5rem;
    margin-top: -0.7rem;
    margin-right: -1.5rem;
}
div#ranking-header-txt {
    margin-left: 2rem;
    font-size: 1.8rem;
    padding-top: 1.5rem;
    font-weight: bold;
}
         
.btn-grad {
   background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%);
   text-align: start;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   display: flex;
   width: 100%;
   font-size: 1.4rem;
   font-weight: 500;
   font-family: 'Noto Sans KR';
   padding: 0.6rem 0;
   text-indent: 1.6rem;
   margin-top: 1rem;
   align-items: center;
}

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}
p#popular-style-desc-sub {
    font-size: 1rem;
    font-weight: 400;
}


img#popular-app-icon {
    width: 6.5%;
    height: auto;
    margin-left: 1.6rem;
}
p#popular-style-desc {
	    min-width: 518px;
	    overflow: hiddlen;
	    white-space: nowrap;
	    display: inline;
	    font-size:1.6rem;
	}
img#banner-text {
    width: 75%;
}

.popular-desc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
p#txt-ranking-des {
    margin-left: 1.6rem;
}