img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.write-container {
    display: none;
}

.post-container {
    display: none;
}

.search-container {
    display: none;
}

.image-view li {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.tag {
    white-space: nowrap;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.search-product-li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.search-product-img {
    flex: 1;
    max-width: 100px;
    margin-right: 20px;
}

.search-product-brand,
.search-product-name,
.search-product-price,
.search-product-size {
    flex: 1;
    margin: 5px;
}

.pre-container .header p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.pre-container .body p {
    text-align: center;
    color: var(--grey6);
    font-size: 20px;
}

.button-container button {
    font-size: 16px;
    line-height: 18px;
    height: 48px;
    width: 320px;
    background: var(--jw-blue);
    color: #FFFFFF;
    text-align: center;
    border-radius: 12px;
}

.write-container label {
    font-weight: bold;
    font-size: 16px;
}

.write-container span {
    height: 20px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 16px;
    border: 1px solid var(--jw-blue3);
}