
#main-wrapper {
    margin : 0 auto;
}

#main-wrapper-top{
    margin-bottom : 30px;
}

@media screen and (max-width: 700px) {
    #main-wrapper-top{
        margin-bottom : 20px;
    }
}

/* 스켈레톤 레이어 */

#skeleton-layer {
    display: grid;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

@media screen and (max-width: 700px) {
    #skeleton-layer {
        display: grid;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        grid-template-columns: repeat(2, minmax(0px, 1fr));
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }
}

.skeleton-div {
    box-sizing: border-box;
    position: relative;
}

.skeleton-img {
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
    max-width: 100%;
    min-width: 100%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 0.84/1;
}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}

/* main-wrapper 안에 있는 photo 클래스에 스타일 적용 */
#photo-gallery {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.4rem;
}

@media screen and (max-width: 700px) {
	#photo-gallery {
	    width: 100%;
	    margin: 0 auto;
	    box-sizing: border-box;
	    display: grid;
	    grid-template-columns: repeat(2, minmax(0px, 1fr));
	    grid-column-gap: 4px;
	    grid-row-gap: 4px;
	}
}

.photo {
    box-sizing: border-box;
    position: relative;
    /* border-radius: 1rem; */
}

.ranking-box{
    position: absolute;
    top: 0px;
    left: 0px;
}

.ranking{
    position: absolute;
    background-color: rgb(34, 34, 34);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    top: 6px;
    left: 6px;
    border-radius: 4px;
}

.ranking1{
    content: url("/resources/img/ic-medal-1st.png") !important;
    width: 32px;
    height: auto !important;
    top:0px;
    background: none;
}

.ranking2{
    content: url("/resources/img/ic-medal-2nd.png") !important;
    width: 32px;
    height: auto !important;
    top:0px;
    background: none;
}

.ranking3{
    content: url("/resources/img/ic-medal-3rd.png") !important;
    width: 32px;
    height: auto !important;
    top:0px;
    background: none;
}

.photo img{
   max-width: 100%;
   min-width: 100%;
   display: block;
   margin: 0 auto;
   aspect-ratio: 0.84/1;
   object-fit: cover;
   object-position: center;
   border-radius: 0.6rem;
}

#hyunique-main-top-recommend {
   display: flex;
   font-size: 1.1rem;
   font-weight: 600;
   color : #BBBBBB;
   margin-bottom: 1rem;
   border-bottom: 1px solid lightgray;
   flex-direction: row;
   justify-content: space-evenly;
}

#hyunique-main-top-recommend .button {
  cursor: pointer;
  text-decoration: none;
  text-decoration: none;
  padding-bottom: 1rem;
  border-bottom: 2.5px solid transparent; /* 밑줄 추가 */
  color: #BBBBBB;
  transition: border-color 0.3s ease; /* 밑줄 변화에 트랜지션 효과 추가 */
  font-weight: 600;
}

#hyunique-main-top-recommend .button.selected {
  border-color: black; /* 선택된 버튼에만 밑줄 색상을 변경 */
  color: black;
}

#filterModalButton {
    font-size: 1rem;
    border: 1px solid #E9E9E9;
    border-radius: 10rem;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 4px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    background: #fafafb;
    padding-left: 12px;
    padding-right: 12px;
}


#filterModalButton >img{
    display: flex;
    align-items: center;
    height: 1.1rem;
}



.filter-img-div{
}

@media screen and (max-width: 700px) {
.filter-img-div{
}
}

#filterModalButton >div{
    height: 32px;
}

#filterModalButton > div#textLine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 부모 요소의 높이에 맞게 설정 */
    font-size: 1rem;
}

#hyunique-main-top-filter{
    display: flex;
    color: #A5A5A5;
    white-space: nowrap;
    overflow : hidden;
    overflow-x: auto;
    padding: 0rem 1.6rem 1rem 1.6rem;
    height: 30px;
}
#qr-button {
    width: 78px;
    height: 78px;
    position: fixed;
    right: 30px;
    bottom: 80px;
}

#qr-img{
    width: 78px;
    height: 78px;
}

#popular-style {
    display: flex;
    font-size: 1.4rem;
    height: 60px;
    font-weight: 600;
    align-items: flex-start;
    flex-direction: column;
    text-indent: 1.6rem;
    margin-bottom: 11%;
    margin-top: 1rem;
    font-family: 'Inter';
}

#bottom-for-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
    padding: 40px 0px;
}

#bottom-for-logo-img{
    display: flex;
    justify-content: center;
}

#bottom-for-logo-img >img{width: 12rem;height: auto;}


#bottom-login-message {
    text-align: center;
    font-weight: 500;
    color: gray;
}

#login-block {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 2rem;
    font-size: 15px;
    font-weight: 700;
    padding: 6px 20px;
    border-radius: 0.8rem;
    background: black;
    animation: 2s ease 0s infinite alternate none running kcinZC;
}

div#banner img {
    width: 100%;
    border-radius: 0.6rem;
    scroll-snap-align: start;
    height: auto;
}

div#banner {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    cursor: pointer;
    /* max-width: 700px; */
    width: calc(100% - 3.2rem);
    margin-bottom: 1.2rem;
}
#ranking-wrapper{
	display:flex;
	flex-direction: column;
	justify-content : center;
}
.ranking-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img.ranking-user-img {
    width: 5.5rem;
    height: 5.5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 100rem;
}

.ranking-user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#rank-2nd {
    margin-top: 4rem;
}

div#rank-3rd {
    margin-top: 4rem;
}

img#rank-3rd {
    width: 8rem;
    height: 8rem;
}

img#rank-2nd {
    width: 8rem;
    height: 8rem;
}

.user-nickname {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;
    margin-top: 0.4rem;
}

.ranking-number {
    border: 1px solid;
    border-radius: 100rem;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
}

.ranking-wrapper {
    margin-bottom: -1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

div#\31 st-number {
    background: rgb(255 133 111);
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
}

div#\32 nd-number {
    background: rgb(151 228 238);
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    border: none;
}

div#\33 rd-number {
    background: rgb(25 140 253);
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    border: none;
}

img#rank-1st-img {
    width: 6rem;
    height: 6rem;
}
.ranking-description {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}
.category-description {
    margin-left: 1.57rem;
    font-size: 0.8rem;
    color: gray;
    margin-top: 0.5rem;
}
div#ranking-wrapper {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.recommend-description {
	display:flex;
	flex-direction:row;
	width:100%;
}
p.txt-rec-des {
    font-size: 1.1rem;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 1rem;
    color: #26354b;
}
lord-icon.lord-star {
    margin-left: 1rem;
}

div#up-button {
	display: none;
	position: fixed;
	bottom: 84px;
	right: 24px;
	filter: drop-shadow(0px 58px 23px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 33px 20px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.09))
    drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
	transition: 0.5s;
}

p#txt-ranking-des {
    font-size: 1.3rem;
}

p.txt-rec-des-sub {
    font-size: 0.9rem;
    font-weight: 500;
    color: gray;
    margin-left: 1.6rem;
    margin-top: -1rem;
}
lord-icon#rank-icon {
    margin-left: 0.5rem;
    margin-top: -0.7rem;
    margin-right: -1.5rem;
}
div#ranking-header-txt {
    margin-left: 1.57rem;
    font-size: 1.4rem;
    font-weight: 600;
    word-break: keep-all;
}
         
.btn-grad {
   background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%);
   text-align: start;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   display: flex;
   width: 100%;
   font-size: 1.4rem;
   font-weight: 500;
   font-family: 'Inter';
   padding: 0.6rem 0;
   text-indent: 1.6rem;
   margin-top: 1rem;
   align-items: center;
}

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}
p#popular-style-desc-sub {
    font-size: 1rem;
    font-weight: 400;
}


img#popular-app-icon {
    width: 6.5%;
    height: auto;
    margin-left: 1.6rem;
}
p#popular-style-desc {
	    min-width: 518px;
	    overflow: hiddlen;
	    white-space: nowrap;
	    display: inline;
	    font-size:1.6rem;
	}
img#banner-text {
    width: 75%;
}

.popular-desc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
p#txt-ranking-des {
    margin-left: 1.6rem;
}
.tab-deco{
	font-family: 'Tossface';
    margin-right: 3px;
}

#follow-banner img{
	width: 100%;
}
div#follow-banner {width: 100%;}
div#infinite-scroll {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}


div.tab-desc-wrapper {
    width: calc(100% - 3.2rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1.6rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

p.tab-desc-txt {
    font-family: Jost;
    font-size: 32px;
    font-weight: 600;
}

div#banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#footer-home-img {
    content: url("/resources/img/ico-nav-home-selected.png");
}

.bar{
	width: 100%;
	height: 5px;
	background: #FC2B2D;
	margin-left: 1rem;
	margin-right: 1rem;
} 
    
div.tab-img-desc-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 3.2rem);
    margin: 1rem 1.6rem;
}

p.tab-img-desc-txt {
    font-family: 'SUITE-Regular';
    font-weight: 900;
    font-size: 1.28rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

hr {
    width: 100%;
    background: #c0bebe45;
    height: 2px;
    border:0;
    margin-top: 0.5rem;
}

div#random-users {
    display: flex;
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
img#random-user-img {
    width: 100%;
}

div#random-user-img-wrapper {
    width: 80%;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10rem;
    margin-bottom: 1.4rem;
}

div#random-user-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    margin-right: 0.6rem;
    min-width: 90px;
    padding: 1.5rem 2rem;
    border: 1px solid #c0bebe;
    border-radius: 0.4rem;
}

.follow-btn {
    width: 100%;
    height: 1.8rem;
    background: var(--jw-blue);
    border-radius: 0.5rem;
    border: none;
    color: white;
    text-align: center;
    font-size: 0.6rem;
    font-family: 'Jost';
}
p#random-userNickname {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    display: block;
    overflow: hidden;
    font-weight: 400;
}

div#random-users-wrapper {
    overflow-x: scroll;
    margin-bottom: 1rem;
}


.follower-btn-wrapper{
	min-width:6rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.follow-btn-class {
    display: none;
    width: 100%;
}

.follow-btn-class + label {
    border: 1px solid;
    border-color: var(--jw-blue2);
    border-radius: 0.4rem;
    color: rgb(255 255 255);
    width: 100%;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    background: var(--jw-blue);
}

.follow-btn-class :checked + label {
	color:var(--grey4);
    border: 1px solid var(--grey4);

}
.following-label {
    color: #747171 !important;
    border: 1px solid lightgray !important;
    background: #f2f2f2 !important;
}
