img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.write-container {
    display: none;
}

.post-container {
    display: none;
}

.search-container {
    display: none;
}

.image-view li {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.tag {
    white-space: nowrap;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}