.content-wrapper {
	width: 100%;
}

.user-info-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 12px;
}

.left-user-info {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.left-user-info img {
	width: 32px;
	height: 32px;
	border-radius: 70%;
}

.left-user-info div {
	
}

.img-slider-wrapper {
	display: flex;
	flex-direction: row;
	overflow: scroll;
	width: 100%;
	scroll-snap-type: x mandatory;
}

.img-wrapper {
	width: 100%;
}

.img-slider-wrapper img {
	width: 100%;
	scroll-snap-align: start;
	aspect-ratio: 3 / 4;
	object-fit: cover;
}

.product-list {
	
}

.product-list img {
	width: 80px;
	height: 80px;
}

ul {
	list-style: none;
}

.tag-list {
	display: flex;
	flex-direction: row;
	gap: 6px;
}

.post-thumbnail-list-wrapper {
	display: flex;
	gap: 4px;
	overflow-x: auto;
	flex-wrap: nowrap;
	padding: 0 0 24px 32px;
}

.post-thumbnail-list-wrapper div {
	flex-basis: 37%;
	flex-shrink: 0;
}

.post-thumbnail-list-wrapper img {
	width: 100%;
	aspect-ratio: 3 / 4;
	object-fit: cover;
}
