.content-wrapper {
	width: 100%;
}

.user-info-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px 30px;
}

.left-user-info {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.left-user-info img {
	width: 3em;
	height: 3em;
	border-radius: 70%;
}

.left-user-info div {
	
}

.img-slider-container {
	position: relative;
}

.img-slider-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: scroll;
	width: 100%;
	scroll-snap-type: x mandatory;
}

.img-wrapper {
	width: 100%;
}

.img-slider-wrapper img {
	width: 100%;
	scroll-snap-align: start;
	aspect-ratio: 3 / 4;
	object-fit: cover;
}

.img-slider-wrapper button {
	position: absolute;
	bottom: 2em;
	left: 2em;
}

.img-index-bar {
	position: absolute;
	bottom: 2em;
	right: 2em;
	display: flex;
	gap: 0.4em;
}

.img-index-circle {
	width: 0.6em;
	height: 0.6em;
	border-radius: 70%;
	background-color: #aaaaaa;
	opacity: 0.8;
}

.img-index-selected {
	width: 1.2em;
	border-radius: 0.5em;
	background-color: white;
	opacity: 1.0;
}

.product-list {
	
}

.product-list img {
	width: 5em;
	height: 5em;
}

ul {
	list-style: none;
}

.tag-list {
	display: flex;
	flex-direction: row;
	gap: 6px;
}

.post-thumbnail-list-wrapper {
	display: flex;
	gap: 3px;
	overflow-x: auto;
	flex-wrap: nowrap;
	padding: 0 0 1.5em 2em;
}

.post-thumbnail-list-wrapper div {
	flex-basis: 37%;
	flex-shrink: 0;
}

.post-thumbnail-list-wrapper img {
	width: 100%;
	aspect-ratio: 3 / 4;
	object-fit: cover;
}
