.content-wrapper {
	padding: 0 1.5rem 2rem 1.5rem;
}

@keyframes rotate3d {
  0% {
    transform: rotateY(0deg);
  }
  
  25% {
  	transform: rotateY(180deg);
  }
  
  50% {
  	transform: rotateY(180deg);
  }
  
  75% {
  	transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.product-wrapper img {
	width: 10rem;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
	filter: drop-shadow(0px 30px 23px rgba(0, 0, 0, 0.01)) drop-shadow(0px 25px 16px rgba(0, 0, 0, 0.05)) drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.09)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
	transform-style: preserve-3d;
  	animation: rotate3d 6s linear infinite;
  	transition-duration: 3s;
  	transition-delay: 3s;
}

.product-container {
	padding: 12px 0;
	background: var(--grey1);
	overflow: hidden;
}

.product-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin: 0 1.5rem;
	cursor: pointer;
}

.product-item-name-s {
	font-size: 18px;
	font-weight: 550;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-thumbnail-list-wrapper {
	display: grid;
	gap: 0.1rem;
	align-content: end;
	margin: 1rem 0 1rem 0;
}

@media (max-width: 700px) {
	.post-thumbnail-list-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 700px) {
	.post-thumbnail-list-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.post-thumbnail-list-wrapper img {
	width: 100%;
	cursor: pointer;
}

.description-wrapper {
	padding: 0 1.5rem;
	margin: 0.8rem 0 0.5rem 0;
}

.brand {
	font-size: 1.3rem;
	font-weight: 550;
	color: var(--jw-blue);
}

.brand-title {
	font-size: 1.3rem;
	font-weight: 550;
}

.description {
	color: var(--grey5);
}

#hyunique-main-top-logo {
	margin-bottom: 0px;
}