.content-wrapper {
	padding: 0 1.5rem 2rem 1.5rem;
}

.product-wrapper img {
	width: 5rem;
	height: 5rem;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-bottom-left-radius: 0.4rem;
	border-top-left-radius: 0.4rem;
}

.product-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 1.5rem;
	border: 1.5px solid var(--grey2);
	border-radius: 0.3rem;
	cursor: pointer;
}

.product-wrapper div {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	padding: 0.3rem 1rem 0.3rem 1.5rem;
	overflow: hidden;
}

.product-item-name {
	color: var(--grey4);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-thumbnail-list-wrapper {
	display: grid;
	gap: 0.1rem;
	align-content: end;
	margin: 1rem 0 1rem 0;
}

@media (max-width: 700px) {
	.post-thumbnail-list-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 700px) {
	.post-thumbnail-list-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.content-wrapper p {
	font-size: 0.95rem;
	color: var(--grey3);
}

.post-thumbnail-list-wrapper img {
	width: 100%;
	cursor: pointer;
}

.description-wrapper {
	padding: 0 1.5rem;
	margin: 0 0 0.5rem 0;
}

.brand {
	font-size: 1.3rem;
	font-weight: 550;
	color: var(--jw-blue);
}

.brand-title {
	font-size: 1.3rem;
	font-weight: 550;
}

.description {
	color: var(--grey5);
}

#hyunique-main-top-logo {
	margin-bottom: 0px;
}