@charset "UTF-8";

.product-img-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-img {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50, 50);
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	margin: auto;
}

ul {
	list-style: none;
}

.stock-card-list {
	display: none;
	flex-direction: row;
	gap: 10px;
}

.stock-card {
	border: 1px solid #B6D0F6;
	border-radius: 6px;
	padding: 8px;
}