@charset "UTF-8";

.product-img-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	margin: auto;
}

.product-content-wrapper {
	padding: 1.5rem 1.5rem;
}

.name-btn-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.name-btn-wrapper p {
	font-size: 1.15rem;
	font-weight: 500;
}

.name-btn-wrapper button {
	width: 2rem;
	height: 2rem;
}

.name-btn-wrapper img {
	width: 100%;
}

.product-stock-wrapper {
	width: 100%;
	margin: 2rem 0;
}

.stock-title {
	color: var(--grey3);
}

select[name="depart"] {
	width: 100%;
	height: 5rem;
	padding: 1rem 0;
}

ul {
	list-style: none;
}

.stock-card-list {
	display: none;
	flex-direction: row;
	gap: 0.5rem;
	overflow: scroll;
	margin-top: 0.2rem;
}

.stock-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3rem;
	min-width: 4rem;
	border: 1.5px solid #B6D0F6;
	border-radius: 0.5rem;
	padding: 0.3rem 0.5rem;
	overflow: hidden;
}

.stock-card p {
	white-space: nowrap;
}

.grey-text {
	font-size: 0.95rem;
	color: var(--grey4);
	text-align: center;
}

.stock-quantity {
	font-size: 1.2rem;
	font-weight: 400;
}

.sold-out {
	border: 1.5px solid var(--grey4);
}

.sold-out .stock-quantity {
	color: red;
}

.no-stock-template {
	text-align: center;
	font-size: 1.2rem;
	color: var(--grey5);
	margin: 1.5rem auto;
}

.product-post-wrapper {
	margin-bottom: 8rem;
}

.product-post-wrapper p {
	color: var(--grey3);
	margin-bottom: 1rem;
}

.post-thumbnail-list-wrapper {
	display: grid;
	gap: 0.2rem;
	align-content: end;
}

@media (max-width: 700px) {
	.post-thumbnail-list-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 700px) {
	.post-thumbnail-list-wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.post-thumbnail-list-wrapper img {
	width: 100%;
	cursor: pointer;
}

.buy-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buy-btn img {
	width: 1.4rem;
	margin: 0.1rem 0.3rem 0 0;
}