@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
.txt-profile-title{
    /*font-family: 'Inter';*/
    font-size:2rem;
    font-weight:bold;
    margin-top:1rem;
	color: #111111;
}
#userUpdateForm{
	display:flex;
	flex-direction: column;
	align-items: center;
}
.content-wrapper {
	width: 100%;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.form-content{
	width:90%;
	display:flex;
	margin-bottom:1.6rem;
}
.form-wrapper{
	display:flex;
	flex-direction:column;
	align-items:center;
	width: 100%;
}

.form-label{
	width:90%;
	/*font-family: 'Inter';*/
	font-weight:400;
	font-size:0.9rem;
	color: #5A5959;
}

.user-img-wrapper{
	width:7rem;
	height:auto;
	display:flex;
	flex-direction:column;
	align-content:center;
	margin-bottom:5rem;
}
.user-img-wrapper img{
	width:100%;
	aspect-ratio:1/1;
	object-fit:cover;
	object-position:center;	
	border-radius:10rem;
}
.txt-user-img-change{
	/*font-family: 'Inter';*/
	font-size:0.5rem;
	color: #3F86F0;
	text-align:center;
	font-weight:400;
	margin-top:1rem;
}
#user-img-section-wrapper{
	display:flex;
	flex-direction:row;
	width:100%;
	justify-content: space-evenly;
	margin-left:0;
	margin-right:0;
	margin-top:4rem;
}
input{
	border: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #f4f4f4;
	outline: none;
	padding: 0.7rem 0 0.5rem 0;
	width:100%;
	/*font-family: 'Inter';*/
	font-size:1.3rem;
	font-weight:400;
	color: #111111;
}
.form-buttons{
	display: flex;
	width:100%;
	justify-content: center;
}
.btn-submit{
	filter: drop-shadow(0px 58px 23px rgba(0, 0, 0, 0.01)) drop-shadow(0px 33px 20px rgba(0, 0, 0, 0.05)) drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.09)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
	background: var(--jw-blue);
	border-radius: 0.8rem;
	color: #FFFFFF;
	width: calc(100% - 60px);
	height:48px;
	padding:0;
	position: fixed;
	z-index:1000;
	bottom: 80px;
	max-width: 700px;
	font-weight: 600;
	font-size: 0.95rem;
	text-align: center;
	/*font-family: 'Inter';*/
	font-weight: 500;
}


input[type="radio"] {
    display: none;
}


input[type="radio"] + label {
    display: inline-block;
    width: auto;
    height: 2rem;
    border-radius: 0.7rem;
	padding:0.1rem 1.3rem;
    cursor: pointer;
	line-height:2rem;
	margin-right:0.1rem;
	margin-top:1rem;
    /*font-family: 'Inter';*/
	letter-spacing:0.05rem;
	text-align:center;
	color: var(--grey4);
    background-color: var(--grey1);}

input[type="radio"]:checked + label {
	background: var(--jw-light-blue2);
    color: var(--jw-blue2);

}
input[type="checkbox"] {
    display: none;
}


input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
    height: 2rem;
    border-radius: 0.7rem;
	padding:0.1rem 1.3rem;
    cursor: pointer;
	line-height:2rem;
	margin-right:0.1rem;
	margin-top:1rem;
    /*font-family: 'Inter';*/
	letter-spacing:0.05rem;
	text-align:center;
	color: var(--grey4);
    background-color: var(--grey1);}

input[type="checkbox"]:checked + label {
	background: var(--jw-light-blue2);
    color: var(--jw-blue2);

}

#facebookUrl{
	margin-bottom: 1rem;
}
#txt-profile-header{
	margin-left : 2rem;
}
input#sample3_search {
    width: calc(100% - 60px);
    border-radius: 0.6rem;
    margin-top: 1rem;
    font-size: 1rem;
}
div#address-content-wrapper {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
}

#wrap{
	display: block;
    border: 1px solid;
    max-width: 100%;
    height: 444px;
    margin: 5px 0px;
    position: relative;
    width: 100%;
}
div#modal-wrap {
    width: calc(100% - 60px);
}
input#sample3_address {
    background: #efefef;
    text-indent: 1rem;
}

input#sample3_detailAddress {
    text-indent: 1rem;
}

input#sample3_extraAddress {
    text-indent: 1rem;
}
.footer-my-wrapper {
    background: var(--jw-light-blue2);
}
#footer-my-img {
    content: url("/resources/img/ico-nav-my-selected.png");
}