<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa5.hyunique.banner.mapper.BannerMapper">
     <select id="selectAllBanners" resultType="BannerVO">
        SELECT * FROM HY_BANNER
        ORDER BY DISPLAY_ORDER
     </select>
     
	<select id="selectRandomUsers" resultType="com.kosa5.hyunique.user.vo.UserVO">
	  <![CDATA[
	    SELECT *
	    FROM(
	      SELECT DISTINCT U.*
	      FROM hy_post P 
	      LEFT OUTER JOIN hy_user U ON U.user_id = P.user_id
	      WHERE U.user_id NOT IN (SELECT FOLLOWING_ID FROM HY_FOLLOW WHERE FOLLOWER_ID = #{userId})
	      ORDER BY dbms_random.VALUE
	    )
	    WHERE ROWNUM <= 10
	  ]]>
	</select>
	<select id="selectUserRanking" resultType="com.kosa5.hyunique.user.vo.UserVO">
		SELECT U.*
		FROM hy_rank R JOIN hy_user U
		ON R.user_id =  U.user_id
		ORDER BY R.RANK
	</select>

</mapper>
