<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa5.hyunique.product.mapper.ProductMapper">

	<resultMap id="ProductDetailMap" type="ProductDetailVO">
		<result property="productId" column="product_id" />
		<result property="productName" column="product_name" />
		<result property="productPrice" column="product_price" />
		<result property="productBrand" column="product_brand" />
		<result property="productImg" column="product_img" />
		<result property="productUrl" column="product_url" />
		<result property="typeName" column="type_name" />
		<collection property="storeList" column="product_id" ofType="DepartStockVO" select="getDepartmentStock" />
		<collection property="postThumbnailList" column="product_id" select="getPostThumbnailListByProduct" />
	</resultMap>
	
	<resultMap id="DepartmentMap" type="DepartStockVO">
		<result property="storeId" column="store_id" />
		<result property="storeName" column="store_name" />
		<collection property="stockList" column="store_id" resultMap="StockMap" />
	</resultMap>
	
	<resultMap id="StockMap" type="StockVO">
		<result property="productColor" column="product_color" />
		<result property="productSize" column="product_size" />
		<result property="productId" column="product_id" />
		<result property="squantity" column="s_quantity" /> 	
	</resultMap>
	
	<select id="getProductDetailById" parameterType="String" resultMap="ProductDetailMap">
		SELECT *
		FROM hy_product
		WHERE product_id = #{productId}
	</select>
	
	<select id="getDepartmentStock" parameterType="String" resultMap="DepartmentMap">
		SELECT *
		FROM department_store d LEFT JOIN 
			(SELECT * FROM hy_stock WHERE product_id = #{productId}) s 
			ON (d.store_id = s.store_id)
		ORDER BY product_size
	</select>
	
	<select id="getPostThumbnailListByProduct" parameterType="String" resultType="PostThumbnailVO">
		<![CDATA[
		SELECT DISTINCT p.post_id, thumbnail_url
		FROM hy_post p JOIN post_pin t ON p.post_id = t.post_id
		WHERE t.product_id = #{productId} AND ROWNUM <= 10
		]]>
	</select>
	
	<select id="getProductStyleById" parameterType="map" resultType="PostThumbnailVO">
		SELECT DISTINCT p.post_id, thumbnail_url
		FROM hy_post p JOIN post_pin t ON p.post_id = t.post_id
		WHERE t.product_id = #{productId}
		ORDER BY post_id
		OFFSET #{offset} ROWS FETCH NEXT 12 ROWS ONLY
	</select>

	<select id="selectSearchProductList" parameterType="String" resultType="PostProductVO">
		SELECT *
		FROM HY_PRODUCT
		WHERE PRODUCT_NAME like '%' || #{productName} || '%'
	</select>
	
	<select id="selectnSearchProductList" parameterType="map" resultType="PostProductVO">
		<![CDATA[
		SELECT *
		FROM (SELECT HY_PRODUCT.*, ROWNUM as RNUM
				FROM HY_PRODUCT
				WHERE PRODUCT_NAME like '%' || #{keyword} || '%')
		WHERE #{offset}-10 < RNUM AND RNUM <= #{offset}
		]]>
	</select>

	<select id="selectProductSize" parameterType="String" resultType="String">
		SELECT PRODUCT_SIZE FROM PRODUCT_SIZE WHERE PRODUCT_ID = #{productId}
	</select>

	<select id="selectProductColor" parameterType="String" resultType="String">
		SELECT PRODUCT_COLOR FROM PRODUCT_COLOR WHERE PRODUCT_ID = #{productId}
	</select>

</mapper>  