<?xml version="1.0" encoding="UTF-8"?>
<!-- FATAL > ERROR > WARN > INFO > DEBUG > TRACE -->
<Configuration>
    <Appenders>
        <File name="File_1" fileName="c:/log_test/myLog_1.log"
              append="true">
            <PatternLayout pattern="%t %-5p %c{2} - %m%n" />
        </File>
        <File name="File_2" fileName="c:/log_test/myLog_2.log"
              append="true">
            <PatternLayout pattern="%d - %m%n" />
        </File>
        <Console name="stdout_1" target="SYSTEM_OUT">
            <PatternLayout pattern="%p == %m == %d%n" />
        </Console>
        <Console name="stdout_2" target="SYSTEM_OUT">
        </Console>
        <PatternLayout pattern="%d{yyyy-MM-dd:HH:mm} >> %m%n" />
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c][%L LINE] %m%n" />
        </Console>
        <!-- Query Loggers 쿼리 과정(파라미터까지) -->
        <appender name="console-dblog" class="org.apache.log4j.ConsoleAppender">
            <PatternLayout pattern="%d %5p %m%n" />
        </appender>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="case1" level="warn">
        </Logger>
        <AppenderRef ref="File_1" />
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="case2" level="info" additivity="false">
        <AppenderRef ref="File_2" />
        <AppenderRef ref="stdout_1" />
        </Logger>
        <Logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>