<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<!-- MyBatis가 동작할 때 어떻게 동작할지를 설정하는 내용이 포함되요! 상당히 많은 설정이 들어있어요. 그런데 대부분 기본값으로 
		설정된 내용을 그대로 사용. 아래부분만 일반적으로 설정해서 사용해요! -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- Log4J설정 Query가 실행될때마다 실행되는 SQL Query와 그 결과를 Log로 출력! -->
		<setting name="logImpl" value="LOG4J2" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- 타입 별칭은 자바 타입에 대한 좀더 짧은 이름을 설정하기 위해 사용합니다. 오직 XML 설정에서만 사용되며, 타이핑을 줄이기 
		위해 사용합니다. -->

	<typeAliases>
		<typeAlias alias="ProductDetailVO" type="com.kosa5.hyunique.product.vo.ProductDetailVO" />
		<typeAlias alias="StockVO" type="com.kosa5.hyunique.product.vo.StockVO" />
		<typeAlias alias="DepartStockVO" type="com.kosa5.hyunique.product.vo.DepartStockVO" />
		<typeAlias alias="PostDetailVO" type="com.kosa5.hyunique.post.vo.PostDetailVO" />
		<typeAlias alias="PostProductVO" type="com.kosa5.hyunique.post.vo.PostProductVO" /> 
		<typeAlias alias="PostThumbnailVO" type="com.kosa5.hyunique.post.vo.PostThumbnailVO" /> 
		<typeAlias alias="User" type="com.kosa5.hyunique.user.vo.UserVO" />
		<typeAlias alias="PostVO" type="com.kosa5.hyunique.post.vo.PostVO" />
		<typeAlias alias="FilterPostVO" type="com.kosa5.hyunique.post.vo.FilterPostVO" />
		<typeAlias alias="TagVO" type="com.kosa5.hyunique.post.vo.TagVO" />
		<typeAlias alias="ProductInformVO" type="com.kosa5.hyunique.product.vo.ProductInformVO" />
		<typeAlias alias="BannerVO" type="com.kosa5.hyunique.banner.vo.BannerVO" />
		<typeAlias alias="BackOfficeProductVO" type="com.kosa5.hyunique.bo.vo.BackOfficeProductVO" />
		<typeAlias alias="BackOfficeBrandVO" type="com.kosa5.hyunique.bo.vo.BackOfficeBrandVO" />
	</typeAliases>

	<typeHandlers>
		<typeHandler
				handler="com.kosa5.hyunique.post.util.PostProductTypeHandler"
				javaType="java.util.List" jdbcType="ARRAY"/>

		<typeHandler
				handler="com.kosa5.hyunique.post.util.PostTypeHandler"
				javaType="java.sql.Struct" jdbcType="STRUCT"/>

		<typeHandler handler="com.kosa5.hyunique.post.util.ListTypeHandler"
					 javaType="java.util.List" jdbcType="ARRAY"/>
	</typeHandlers>
	
</configuration>	