.backoffice-home-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 80px 140px;
	gap: 32px;
}

.dashboard-card-wrapper {
	padding: 18px 24px;
	background-color: white;
	border-radius: 18px;
	filter: drop-shadow(0px 58px 23px rgba(0, 0, 0, 0.01)) drop-shadow(0px 33px 20px rgba(0, 0, 0, 0.05)) drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.09)) drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
	cursor: pointer;
	transition: filter;
	transition-duration: 0.3s;
}

.dashboard-card-wrapper:hover {
	filter: drop-shadow(0px 58px 23px rgba(0, 0, 0, 0.05)) drop-shadow(0px 33px 20px rgba(0, 0, 0, 0.1)) drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.12)) drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

.card-title {
	font-size: 24px;
	font-weight: 550;
	margin-bottom: 12px;
}

.card-description1 {
	font-size: 16px;
	margin-bottom: 4px;
}

.card-description2 {
	font-size: 14px;
	color: var(--grey5);
	margin-bottom: 4px;
}