body {
	max-width: 100%;
    min-width: 760px;
    min-height: 0px;
    margin: 0 0;
    border: none;
}

.dashboard-wrapper {
	min-width: 760px;
	width: 100%;
}

.dashboard-header-wrapper {
	position: fixed;
	top: 0; left: 0;
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 100%;
	height: 90px;
	background: black;
	color: white;
}

.dashboard-header-wrapper img {
	width: 240px;
}

.dashboard-navbar-wrapper {
	position: fixed;
	top: 90px;
	left: 0;
	width: 200px;
	height: calc(100vh - 90px);
	background: black;
	color: white;
}

.dashboard-navbar {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.dashboard-navbar li {
	padding: 8px 12px;
	font-size: 16px;
	font-weight: 550;
	color: white;
	cursor: pointer;
}

.dashboard-navbar li:hover {
	background-color: white;
	color: black;
}

.backoffice-content-wrapper {
	margin: 90px 0 0 200px;
}